{% extends "bookmvt/base_user.html" %}
{% block userContentLeft %}
        <h5>用户中心1</h5>
{% endblock userContentLeft%}

{% block userContentRight %}
    <p>
        [新闻]|军事生活天气 <br>
        [体育]|足球NBA直播 <br>
        [电脑]|桌面邮箱杀毒 <br>
        [手机]|科技软件聊天<br>
        [历史]|政府国外招商<br>
        [旅游]|地图小说音乐<br>
        [母婴]|儿童动漫漫画<br>
        [美食]|设计知识文库<br>
        [教育]|英语大学考试<br>
        [理财]|股票基金银行<br>
        [星座]|爱好宗教趣站<br>
        [购物]|商城特价女性<br>
        [健康]|减肥两性时尚<br>
        [汽车]|房产家居违章<br>
        [招聘]|交友社区宠物<br>
    </p>
{% endblock userContentRight%}